body, #main-container{
  height: 100%;
}

body{
  background: #29abe2 !important;
  position: relative;
}

button{
  background: none;
  background-color: white;
  border: none;
  border-radius: 7px;
}

h1, h2, h3{
  font-family: 'Sonsie One', cursive;
}
