.profile-details {
	background-color: #419B75;
	width: 320px;
  margin: 30px auto; 
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  p {
    height: 80px;
    font-size: 32px;
    color: #fff;
    line-height: 80px;
    margin: 0;
  }

  p:hover {
    background-color: darken(#419B75, 10%)
  }
}
