#login-container{
  background: image-url('logo.png') center 10px no-repeat;
  height: 100%;
}

.login-form{
  position: relative;
  text-align: center;
  top: 380px;
  input[type='text'], input[type='password']{
    border-radius: 3px;
    border: 0;
    height: 30px;
    margin-bottom: 20px;
  }
}

.fb-continue-button {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAABGdBTUEAALGPC/xhBQAAAF1QTFRF////////////////////////////////////////////////////////////////////////////////////////////////////////////////////AAAA////z8iKdgAAAB50Uk5TD6dhxfbf0+mcXeKLZPAQ9QoW3eOH17qZAZaqEeEArk8N+gAAAGhJREFUKM/d0EkKgDAMBdA6z/NUE5v7H9MoKC21ILjzr8J/i4QIZUTek9BKPwiJIgukR0cSC7Kzp82Cmds4XUYLeoZOPSzfGNR7aBEHBkSsTVjpSuWC3AWTCSVAwy0AFF/P/REI/rkGO8uPP64AUMwMAAAAAElFTkSuQmCC);
  background-color: #3a5898;
  background-position: 12px center;
  background-repeat: no-repeat;
  color: white;
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  line-height: 56px;
  margin: 25px;
  padding-left: 24px;
  text-align: center;
  width: 180px;
  &:hover {
    background-color: #2f4a84;
    text-decoration: none;
  }

  span {
    color: white;
  }
}
