@media (max-width:345px) {
  #login-container{
    background-size: 300px;
  }
  .login-form{
    top: 340px;
  }
  body{
    padding-top: 430px;
  }
  #top-right-banner{
    background-size: 160px;
    background-repeat: no-repeat;
    width: 160px;
  }
  .bottom-icon{
    width: 50px;
  }
}
@media (max-width:770px) {
  .bottom-icon{
    width: 50px;
  }
  #hydrant-icon, #reja-icon{
    display: none;
  }
  #hueso-icon{
    left: 0;
  }
}


@media (max-width:1195px) {
  .subscription-label{
    display: none;
  }
}
